<div class="container" id="about">
	<h2>About</h2>

	<p>
		The <a href="https://swift.org/package-manager/">Swift Package Manager</a> is a tool for managing the distribution of Swift code. It’s integrated with the Swift build system to automate the process of downloading, compiling, and linking dependencies.

		A package consists of Swift source files and a manifest file. The manifest file, called <samp>Package.swift</samp>, defines the package’s name and its contents using the <code>PackageDescription</code> module.
	</p>

	<p>
		The <a href="/">Swift Package Registry</a> is a collection of Swift Packages. The <a href="https://github.blog/2019-06-03-github-package-registry-will-support-swift-packages/">GitHub Swift Package Registry</a> is not currently released and this website fills that gap for easier searching and discoverability of Swift Packages.
	</p>

	<h3>Technical</h3>

	<p>
		This website is written in <a href="https://nodejs.org/en/">Node.js</a> and parsed all packages using <a href="https://github.com/apocas/dockerode">docker</a>. You can help contribue to this project by visiting the <a href="https://github.com/twodayslate/swift-package-registry/">GitHub page</a>. 
	</p>
</div> 