<div class="container" id="add">
	<h2>Add a package</h2>
	<form action="/add" method="post" class="form">
		<div class="input-group">
	    <input class="form-control form-control-lg" type="url" placeholder="https://github.com/%s/%s" id="url" name="url">
	    <span class="input-group-append">
	    	<button type="submit" class="btn btn-primary">Add</button>
	    	</span>
	    </input>
	    </div>
	</form>
	<small class="text-muted container">Only public repositories can be added to the <a href="/">Swift Package Registry</a></small>
</div>