<div class="container" id="add">
	<form action="/add" method="post" class="form">
		<div class="input-group">
	    <input class="form-control form-control-lg" type="url" placeholder="https://github.com/%s/%s" id="url" name="url">
	    <span class="input-group-append">
	    	<button type="submit" class="btn btn-primary">Add</button>
	    	</span>
	    </input>
	    </div>
	</form>
</div>