<div class="card mx-auto w-50">
<h5 class="card-header">Login</h5>
  <div class="card-body">
   <a class="btn btn-block btn-social btn-github" href="/auth/github">
    <span class="fa fa-github"></span> Sign in with GitHub
 </a>
 </div>
 </div>