<div class="container" id="packages">
	<% if (locals.heading) { %>
		<h2><%= heading %></h2>
	<% } else { %>
		<h2>Swift Packages</h2>
	<% } %>

	<table class="table table-responsive table-striped table-hover">
		<thead class="thead-dark">
			<tr>
			<th scope="col">Repository</th>
			<th scope="col">Description</th>
			</tr>
		</thead>
		<tbody>
	  <% packages.forEach(function(package){ %>
		<tr>
			<td><a href="/<%= package.info.full_name %>"><%= package.info.name %></a></td>

			<td><%= package.info.description %></td>
		</tr>
	  <% }); %>
	  </tbody>
	</table>
</div>