# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_PASSWORD: mysecretpassword
          POSTGRES_DB: spr
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d spr"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run lint
      env:
        CI: true
    - run: npm test
      env:
        CI: true
        POSTGRESQL_SERVER: postgres://postgres:mysecretpassword@localhost:5432/spr
